#include <windows.h>

MAINICON ICON "thrones.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,5,2,0
PRODUCTVERSION 0,5,2,0
FILETYPE 0x1L

BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904e4"
		BEGIN
			VALUE "FileDescription", "Thrones"
			VALUE "FileVersion", "0.5.2"
			VALUE "InternalName", "thrones"
			VALUE "OriginalFilename", "Thrones.exe"
			VALUE "ProductName", "Thrones"
			VALUE "ProductVersion", "0.5.2"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END
