[Desktop Entry]
Version=1.0
Name=Thrones
Exec=usr/bin/thrones
Icon=thrones
Comment=Thrones Board Game
GenericName=Board Game
Keywords=Board;Game
Categories=Game
Type=Application
Terminal=false
StartupNotify=false
